/*TODO animate with JS*/

@keyframes animatetitle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes animatedescription {
    0%, 20% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@keyframes animateicon {
    0%, 50% {
        opacity: 0;
    }
}

/*
 * Reset
 */

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: local('Lato'), url('assets/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Raleway'), url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

/*
 * Layout
 */

html {
    scroll-behavior: smooth;
    background: #122;
    color: #fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: 0 1px rgba(0, 0, 0, .9);
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
}

html::before {
    content: '';
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background-color: #112222;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23112121' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23112020' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23101f1f' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23101e1e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23101d1d' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    z-index: -10;
    will-change: scroll-position;
}

header {
    position: fixed;
    will-change: scroll-position;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(17, 26, 27, .9);
}

.logo {
    margin: 1rem 0;
    border-left: 3px solid white;
    padding-left: .4rem;
}

.darkbg {
    background: rgba(0, 0, 0, .2);
}

.cliptop, .clipbottom {
    position: relative;
    overflow: visible;
}

.cliptop::before {
    content: '';
    position: absolute;
    height: 7vw;
    width: 100%;
    top: -7vw;
    background: inherit;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 2rem;
}

.full {
    min-height: 100vh;
}

.start {
    padding: 7rem 0;
}

/*
 * Typography
 */

.logo, h1, h2, h3, h4 .title, .subtitle, .bullet {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.business, .slogan, .title, .subtitle {
    display: block;
}

a, a:visited {
    color: #fff;
}

.logo a {
    text-decoration: none;
}

p, li, .slogan, .subtitle {
    line-height: 1.5;
}

ul.icons {
    list-style: none;
}

.logo, .title, .subtitle, .bullet {
    letter-spacing: .1em;
}

.title {
    font-size: 2rem;
}

.subtitle, .bullet {
    font-size: 1.1rem;
}

.slogan {
    font-size: .56rem;
}

.content {
    color: rgba(255, 255, 255, .9);
    margin: 1.5em 0;
}

/*
 * Animations
 */

h1.animate, .animate.title, .animate.subtitle {
    -webkit-animation: animatetitle 3s ease-in;
    animation: animatetitle 3s ease-in;
}

.animate.content {
    -webkit-animation: animatedescription 3s ease-in;
    animation: animatedescription 3s ease-in;
}

.animate.icon {
    -webkit-animation: animateicon 3s ease-in;
    animation: animateicon 3s ease-in;
}

/*
 * Icons
 */

.icons {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    margin: .5rem;
    width: 2.2rem;
    height: 2.2rem;
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .9));
}