@keyframes animatetitle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes animatedescription {
    0%, 20% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@keyframes animateicon {
    0%, 50% {
        opacity: 0;
    }
}

/*
 * Layout
 */

footer {
    font-size: .8em;
    padding-bottom: 2rem;
    overflow:hidden;
    clip-path: polygon(0 7vw, 100% 0, 100% 100%, 0% 100%);;
}

.clipbottom::after {
    content: '';
    position: absolute;
    height: 4vw;
    width: 100%;
    bottom: -4vw;
    background: inherit;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.page {
    margin: 20rem auto;
}

.bullets {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bullet {
    text-align: center;
    margin: 10rem auto;
}

.footer {
    align-items: flex-end;
    padding-top:7vw;
}

.footer>* {
    margin: .8em 0;
}

.legal>*+* {
    border-left: 1px solid rgba(255, 255, 255, .3);
    margin-left: .5rem;
    padding-left: .5rem;
}

.imprint {
    font-size: .9em;
    opacity: .5;
    text-align: justify;
    margin: 4rem 0;
}

/*
 * Icons
 */

.footer .icon {
    margin: 0 .4rem;
    width: 1.7rem;
    height: 1.7rem;
    opacity: .7;
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .9));
}

.footer .icons a {
    display: block;
}

.footer .icons a:hover .icon, .footer .icons a:focus .icon {
    opacity: 1;
}

.hover {
    position: relative;
}

.hover a::after {
    content: '';
    z-index: -9;
    position: absolute;
    width: 200vw;
    min-width: 200vh;
    height: 200vh;
    min-height: 200vw;
    border-radius: 50%;
    pointer-events: none;
    -webkit-transform: translate(calc(-50% - 1.25rem), calc(-50% + .85rem)) scale(0);
    transform: translate(calc(-50% - 1.25rem), calc(-50% + .85rem)) scale(0);
    -webkit-transition: -webkit-transform .4s ease-in;
    transition: transform .4s ease-in;
    backface-visibility: hidden;
    will-change: transform;
}

.hover a:focus::after, .hover a:hover::after {
    -webkit-transform: translate(calc(-50% - 1.25rem), calc(-50% + .85rem)) scale(1);
    transform: translate(calc(-50% - 1.25rem), calc(-50% + .85rem)) scale(1);
    z-index: -7;
}

.hover a:focus::after {
    z-index: -8;
}

.twitter a::after {
    background: #1DA1F2;
}

.github a::after {
    background: #24292e;
}

.xing a::after {
    background: #006567;
}

.linkedin a::after {
    background: #0073b1;
}