/*
 * Layout
 */

footer {
    font-size: .8em;
    padding-bottom: 2rem;
    overflow: hidden;
    clip-path: polygon(0 7vw, 100% 0, 100% 100%, 0% 100%);
    ;
}

.clipbottom::after {
    content: '';
    position: absolute;
    height: 4vw;
    width: 100%;
    bottom: -4vw;
    background: inherit;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.page {
    margin: 10rem auto;
}

.bullets {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bullet {
    text-align: center;
    margin: 10rem auto;
}

.footer {
    align-items: flex-end;
    padding-top: 7vw;
}

.footer .icons {
    margin: .8em 0;
}

.legal>*+* {
    border-left: 1px solid rgba(255, 255, 255, .3);
    margin-left: .5rem;
    padding-left: .5rem;
}

.list {
    padding-inline-start: 20px;
    color: rgba(255, 255, 255, .9);
    text-align: initial;
}

.imprint {
    font-size: .9em;
    opacity: .5;
    text-align: justify;
    margin: 4rem 0;
}

.imprint .list {
    color: #fff;
}

.contact {
    list-style-type: none;
}

.contactme {
    background: white;
    color: #122;
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: 0 1px;
    text-shadow: none;
    font-weight: bold;
}

.item {
    margin: .8rem 0;
}

.contact .item {
    display: flex;
    align-items: center;
}

/*
 * Typography
 */

h3, h4 {
    margin: .7em 0 0;
}

a:hover {
    text-decoration: none;
}

/*
 * Icons
 */

.contact .icon, .footer .icon {
    margin: 0 .4rem;
    width: 1.7rem;
    height: 1.7rem;
    opacity: .7;
    transition: opacity .2s ease-in;
}

.footer .icons a {
    display: block;
}

.offerjob a:hover .icon, .offerjob a:focus .icon, .footer a:hover .icon, .footer a:focus .icon {
    opacity: 1;
}

.hover {
    position: relative;
}

.hover a::after {
    content: '';
    z-index: -9;
    position: absolute;
    width: 200vw;
    min-width: 200vh;
    height: 200vh;
    min-height: 200vw;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(calc(-50% - 1.25rem), calc(-50% + .85rem)) scale(0);
    transition: transform .4s ease-in;
    backface-visibility: hidden;
}

.hover a:focus::after, .hover a:hover::after {
    transform: translate(calc(-50% - 1.25rem), calc(-50% + .85rem)) scale(1);
    z-index: -7;
}

.hover a:focus::after {
    z-index: -8;
}

.twitter a::after {
    background: #1DA1F2;
}

.github a::after {
    background: #24292e;
}

.xing a::after {
    background: #006567;
}

.linkedin a::after {
    background: #0073b1;
}

/*
 * Spamprotection
 */

span.yEcNoT {
    unicode-bidi: bidi-override;
    direction: rtl;
}

span.PyHCah.yEcNoT::before {
    content: '0297';
}

span.PyHCah.yEcNoT::after {
    content: '1516 (0) 94+';
}

span.EoauyE.yEcNoT::before {
    content: 'moc.swi-';
}

span.EoauyE.yEcNoT::after {
    content: '@ofni';
}

/*
 * Reduced motion
 */

@media (prefers-reduced-motion) {
    .animate {
        -webkit-animation-duration: 0s !important;
        animation-duration: 0s !important;
        -webkit-animation-delay: 0s !important;
        animation-delay: 0s !important;
    }
    .hover a::after {
        -webkit-transition-duration: 0s !important;
        transition-duration: 0s !important;
        -webkit-transition-delay: 0s !important;
        transition-delay: 0s !important;
    }
}